.nav {
  width: 100%;
  position: absolute;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 2px solid #ddd6d6;
  z-index: 9999;
  /* background-color: rgba(234, 228, 228, 0.9); */
}

.nav_grid {
  margin: 20px;
  /* background-color: rgba(234, 228, 228, 0.2); */
  /* border: 1px solid #a5a1a1; */

  /* padding: 20px; */
  align-items: center;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.nav_sub:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_ul {
  display: flex;
  gap: 20px;
  /* background-color: #f1ecec; */
  /* background-color: rgba(234, 228, 228, 0.9); */

  padding: 10px 20px;
  border-radius: 30px;
}

.nav_lgo {
  font-family: "oswald";
  padding: 10px 20px;
  /* background-color: #fff; */
  /* background-color: rgba(234, 228, 228, 0.9); */

  /* border: 3px solid #a5a1a1; */
  /* transform: rotate(-3deg); */
  border-radius: 30px;
  color: #000;
  font-size: 17px;
}

.bulla {
  border-radius:5px;
  height: 60px;

  width: 60px;
}

.nav_li {
  font-family: "oswald";
  text-transform: uppercase;
  cursor: pointer;
  list-style-type: none;
  color: #000;
  margin: 0 30px;
  font-weight: bold;
  font-size: 17px;
}

.get {
  font-family: "oswald";
  border: 1px solid #fff;
  border: 1px solid #a5a1a1;
  /* background-color: rgba(234, 228, 228, 0.9); */

  padding: 10px 20px;
  /* background-color: transparent; */
  /* color: #fff; */
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 30px;
}
.ham_ico {
  font-size: 30px;
  color: #000;
}

.hamburger {
  display: none;
}
.mobile_menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  inset: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.close_ico {
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 20px;
}

.nav_li_mobile {
  font-family: "oswald";
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 746px) {
  .two,
  .get {
    display: none !important;
    background-color: #000;
  }
  .hamburger {
    display: flex;
  }

  .nav_sub {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .mobile_menu {
    display: flex;
  }
  .nav_grid {
    margin: 0;
    padding: 10px;
  }
}
